<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <title>تیزویران | صفحه مورد نظر یافت نشد!</title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>

<div id="pageLoader"
     class="pageLoader" style="display: flex;flex-direction:column;justify-content: center;align-items: center">

  <img src="/img/logo.png"
       alt="tizviran logo"
       class="img-fluid"
       style="max-width: 200px">
  <b style="font-size: 2rem;color: white;margin-top: 50px;">!!!!صفحه مورد نظر یافت نشد</b>

</div>

</body>
</html>