$red: #df0000;
$gray: #a4b0be;
$darkGray: #2f3542;

.bg-gray
{
  background: $gray;
}

.bg-red
{
  background: $red;
  color: white;
}

.bg-dark-gray
{
  background: $darkGray;
  color: white;
}

.fade-enter-active, .fade-leave-active {
  transition: all .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: translateX(-500px);
}