.bg-gray {
  background: #a4b0be;
}

.bg-red {
  background: #df0000;
  color: white;
}

.bg-dark-gray {
  background: #2f3542;
  color: white;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translateX(-500px);
}

