.quiz-button {
  border-radius: 10px !important;
  box-shadow: -0.2px 3px 7px 0px rgba(0, 0, 0, 0.9) !important;
}

.gray-gradient {
  width: 100px;
  tap: 0;
  left: 15px;
  position: absolute;
  background: -moz-linear-gradient(to right,#2f3542,rgba(0,0,0,0));
  background: linear-gradient(to right,#2f3542,rgba(0,0,0,0));
}

body{
  color:#2f3542;
}

.text-dark{
  color:#2f3542 !important;
}

.link-hover{
  transition:all 0.3s;
}

.link-hover:hover{
  background-color: rgba(245, 245, 245, 0.5);
}

.selected-link{
  border-bottom: 2px solid #f5f5f5;
}

.bg-cover{
  background-position: center;
  background-size: cover;
}

.dark-shadow{
  box-shadow: 0px 2px 5px #003d5c;
}

.blur-enter,.blur-leave-to{
  filter: blur(10px);
  opacity:0;
}

.blur-enter-active,.blur-leave-active{
  transition: all 0.3s;
}

